@charset "UTF-8";
/* common */
body {
  font-family: 'Lato', sans-serif;
}

.main__ttl-font {
  font-family: 'Raleway', sans-serif;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/* Boltpc */
.inner {
  margin: 0 auto;
  width: 1100px;
}

/* Boltpc-header */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__inner {
  padding: 15px 0;
}

.header__icon-bolt {
  color: #c0c0c0;
  font-size: 50px;
}

.header__icon-bar {
  display: none;
}

.header__btn-contact {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: all .3s;
}

.header__btn-contact:hover {
  color: #333;
  transition: all .3s;
}

/* Boltpc-main */
.main__wrapper {
  padding-top: 80px;
}

.main__txt {
  font-size: 20px;
}

/* Boltpc-heading */
.heading {
  background-color: #f2f2f2;
}

.heading__inner {
  margin: 0 auto;
  padding: 250px 0;
  text-align: center
}

.heading__ttl {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.heading__ttl-sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* Boltpc-introduction */
.introduction {
  background-color: #74cfae;
}

.introduction__inner {
  padding-top: 50px;
  display: table;
}

.introduction__img-iphone {
  display: table-cell;
  margin: 0 auto;
}

.introduction__txt {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 650px;
}

.introduction__title {
  font-size: 24px;
  margin-bottom: 35px;
}

/* Boltpc-work */
.work {
  background-color: #f2f2f2;
}

.work__inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work__ttl {
  font-size: 24px;
  margin-bottom:  40px;
  text-align: center;
}

.work__items {
  margin: 0 auto;
}

.work__items > .work__item {
  float: left;
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: all .3s;
}

.work__items > .work__item:hover {
  opacity: 1;
  transition: all .3s;
}

.work__items > .work__item:nth-child(-n+3) {
  margin-top: 0;
}

.work__items > .work__item:nth-child(3n+1) {
  margin-left: 0; 
}

.work__txt {
  margin-top: 90px;
  text-align: center;
}

.work .work__txt .main__txt {
  color: #333;
  display: inline-block;
  width: 580px;
}

.work__btn-mail {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  text-decoration: none;
  transition: all .3s;
  vertical-align: top;
}

.work__btn-mail:hover {
  color: #333;
  transition: all .3s;
}

/* Boltpc-skills */
.skills {
  background-color: #4e4e4e;
}

.skills__inner {
  font-size: 0;
  padding-top: 70px;
  padding-bottom: 100px; 
  text-align: center;
}

.skills__ttl {
  color: #fff;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.skills__content {
  display: inline-block;
  margin-left: 180px;
}

.skills__content:first-child {
  margin-left: 0px;
}

.skills__txt {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

/* Boltpc-sns */
.sns {
  background-color: #f2f2f2;
}

.sns__inner {
  font-size: 0;
  padding: 200px 0;
}

.sns__items {
  text-align: center;
}

.sns__item {
  color: #74cfae;
  display: inline-block;
  font-size: 50px;
  padding: 30px 0;
  transition: all 0.3s;
  width: 185px;
}

.sns__item:hover {
  background-color: #fff;
  transition: all .3s;
}

/* Boltpc-footer */
.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__txt {
  color: #fff;
  font-size: 16px;
  text-align: right;
}

/* Boltpad */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  /* Boltpad-introduction */
  .introduction__inner {
    display: block;
    padding-bottom: 25px;
  }

  .introduction__img-iphone {
    display: block;
  }

  .introduction__txt {
    display: block;
    margin-top: 20px; 
    width: 100%;
  }

  /* Boltpad-work */
  .work__items {
    font-size: 0;
    text-align: center;
  }
  
  .work__items > .work__item {
    display: block;
    float: none;
    margin: 0 auto;
    width: 300px;
  }

  .work__items > .work__item:nth-child(3n+1) {
    margin: 80px auto 0; 
  }

  .work__items > .work__item:first-child {
    margin-top: 0; 
  }
  
  .work__txt {
    margin-top: 80px;
  }
  
  .work .work__txt .main__txt {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  
  .work__btn-mail {
    margin: 40px auto 0;
  }

  /* Boltpad-skills */
  .skills__content {
    display: block;
    margin: 88px auto 0;
  }

  .skills__content:first-child {
    margin-top: 0px;
  }
}

/* Boltsp */
@media screen and (max-width: 767px) {
  /* Boltsp-header */
  .header__btn-contact {
    display: none;
  }

  .header__icon-bar {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd;
    display: block;
    float: right;
    font-size: 30px;
    padding: 10px;
  }

  /* Boltsp-heading */
  .heading__inner {
    padding-top: 160px;
    padding-bottom: 130px; 
  }
  
  .heading__ttl {
    font-size: 80px;
  }

  /* Boltsp-sns */
  .sns__inner {
    padding: 50px 0;
  }

  .sns__item {
    display: block;
    width: 100%;
  }
}