@charset "UTF-8";

body {
  font-family: 'Lato', sans-serif;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/* header */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__inner {
  padding: 15px 0;
}

.header__icon-bolt {
  color: #c0c0c0;
  font-size: 50px;
}

.header__btn-contact {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: all .3s;
}

.header__btn-contact:hover {
  color: #333;
  transition: all .3s;
}

/* main */
  .main__wrapper {
    padding-top: 80px;
  }

.main__txt {
  font-size: 20px;
}

/* heading */
.heading {
  background-color: #f2f2f2;
}

.heading__inner {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding: 250px 0;
  text-align: center
}

.heading__ttl {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.heading__ttl-sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* introduction */
.introduction {
  position: relative;
  background-color: #74cfae;
}

.introduction__inner {
  padding-top: 50px;
  display: table;
}

.introduction__img-iphone {
  display: table-cell;
  margin: 0 auto;
}

.introduction__txt {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 650px;
}

.introduction__title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 35px;
}

/* work */
.work {
  background-color: #f2f2f2;
}

.work__inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work__ttl {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom:  40px;
  text-align: center;
}

.work__items {
  margin: 0 auto;
}

.work__items > .work__item {
  float: left;
  list-style: none;
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: all .3s;
}

.work__items > .work__item:hover {
  opacity: 1;
  transition: all .3s;
}

.work__items > .work__item:nth-child(-n+3) {
  margin-top: 0;
}

.work__items > .work__item:nth-child(3n+1) {
  margin-left: 0; 
}

.work__txt {
  margin-top: 90px;
  text-align: center;
}

.work .work__txt .main__txt {
  color: #333;
  display: inline-block;
  width: 580px;
}

.work__btn-mail {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  text-decoration: none;
  transition: all .3s;
  vertical-align: top;
}

.work__btn-mail:hover {
  color: #333;
  transition: all .3s;
}

/* skills */
.skills {
  background-color: #4e4e4e;
}

.skills__inner {
  font-size: 0;
  padding-top: 70px;
  padding-bottom: 100px; 
  text-align: center;
}

.skills__ttl {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.skills__content {
  display: inline-block;
  margin-left: 180px;
}

.skills__content:first-child {
  margin-left: 0px;
}

.skills__txt {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

/* sns */
.sns {
  background-color: #f2f2f2;
}

.sns__inner {
  font-size: 0;
  padding: 200px 0;
}


.sns__items {
  text-align: center;
}

.sns__item {
  color: #74cfae;
  display: inline-block;
  font-size: 50px;
  padding: 30px 0;
  transition: all 0.3s;
  width: 185px;
}

.sns__item:hover {
  background-color: #fff;
  transition: all .3s;
}

/* footer */
.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__txt {
  color: #fff;
  font-size: 16px;
  text-align: right;
}